{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/css/index.css">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>

<body>
    {{ template "loginForm" .Form }}
    <hr />
    {{ template "users" .Data }}
</body>
<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        document.body.addEventListener('htmx:beforeSwap', function (e) {
            if (e.detail.xhr.status == 422) {
                e.detail.shouldSwap = true;
                e.detail.isError = false;
            }
        })
    })
</script>

</html>
{{ end }}

{{ block "loginForm" . }}
<form hx-swap="outerHTML" hx-post="/users">
    <div style="display: flex; justify-content: space-between;">
        <label for="username">Username: </label>
        <input {{ if .Values.username }} value="{{ .Values.username }}" {{ end }} type="text" name="username">
    </div>
    <div style="display: flex; justify-content: space-between;">
        <label for="email">Email: </label>
        <input {{ if .Values.email }} value="{{ .Values.email }}" {{ end }} type="email" name="email">
    </div>
    <div style="display: flex; justify-content: space-between;">
        <label for="password">Password: </label>
        <input {{ if .Values.password }} value="{{ .Values.password }}" {{ end }} type="password" name="password">
    </div>

    {{ if .Errors.email }} <div style="color: red;">{{ .Errors.email }}</div> {{ end }}

    <button type="submit">Submit</button>
</form>
{{ end }}

{{ block "users" . }}
<div id="users" style="display: flex; flex-direction: column;">
    {{ range .Users }}
    {{ template "user" . }}
    {{ end }}
</div>
{{ end }}

{{ block "user" . }}
<div id="contact-{{ .Id }}" style="display: flex; flex-direction: row;">
    <div 
    hx-indicator="#ci-{{ .Id }}" 
    hx-target="#contact-{{ .Id }}" 
    hx-swap="outerHTML" 
    hx-delete="/users/{{ .Id }}"
        style="cursor: pointer;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
            viewBox="0 0 16 16">
            <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
            <path
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
        </svg>
    </div>
    <span>{{ .Username }} {{ .Email }} {{ .Password }}</span>
    <div id="ci-{{ .Id }}" class="htmx-indicator">
        <img alt="loading" width="50" src="/images/loader.svg" />
    </div>
</div>

{{ end }}

{{ block "oob-user" . }}
<div id="users" hx-swap-oob="afterbegin">
    {{ template "user" . }}
</div>
{{ end }}